body{
	margin:0;
	padding: 0;
	background:#000;
}

p {
	color : rgb(255,255,255);
	font-size:15px;
	line-height:17px;
	text-align:center;
	-webkit-background-size:cover;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background: url(./text.PNG) no-repeat center/cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgb(255,255,255,0);

}

.img_responsive{
	width: 100%; 
	height: auto;
  }

@media (max-width: 767px){
	.itembox{
		display: block;
	}
	.imgbox{ 
		width: 90%;
		padding: 20px;
	}
	.textbox{ 
		padding: 20px 20px 10px 20px;
		text-align: justify;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}