body{
	margin:0;
	padding: 0;
	background:#255;
}

p {
	font-size:8px;
	line-height:15px;
	text-align:justify;
	-webkit-background-size:cover;
	background-size:cover/cover;
	background-repeat: no-repeat;
	background-position: center;
	background: url(text.png) no-repeat center;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgb(255,255,255,0);
}